.header {
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}

.title {
	font-family: 'Architects Daughter', cursive;
	font-size: 3rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	margin: 0;
}

.footer-icon {
	height: 3rem;
}