<div class="row footer-container justify-content-center">
	<a href="mailto:alistairmartin@live.com" class="col text-center">
		<img class="footer-icon" src="assets/icons/svg/ic_mail_outline_black.svg" height="50px">
	</a>
	<a href="https://www.linkedin.com/in/alistair-martin-4b4b6351/" class="col text-center">
		<img class="footer-icon" src="assets/icons/png/linkedin.png">
	</a>
	<a href="https://github.com/apgmartin" class="col text-center">
		<img class="footer-icon" src="assets/icons/png/github.png">
	</a>
</div>