<carousel>
  <slide>
    <img src="assets/images/cray7.jpg" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/fjal.jpg" alt="Second slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/umea.jpg" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>

<div class="down-arrow"></div>

<div class="container-fluid home-links-container">
	<div class="row">
		<app-about-me-home class="col-12 col-md-6"></app-about-me-home>
		<app-projects-home class="col-12 col-md-6"></app-projects-home>
	</div>
</div>